.courses-box{
    background: var(--white-color);
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 400ms ease;
    box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
}
.courses-box:hover{
    transform: translateY(-0.6rem);
}
.courses-box__header{

}
.courses-box__header-link{
    display: block;
}
.courses-box__header-image{
    width: 100%;
    object-fit: cover;
}
.courses-box__main{
    padding: 0 1.2rem;
}
.courses-box__title{
    display: block;
    padding: 1rem 0;
    font-family: Var(--medium-font);
    transition: color 400ms ease;
}
.courses-box__title:hover{
    color: #1e83f0;
}
.courses-box__rating-teacher{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-box__teacher{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.courses-box__teacher-icon{
    color: #6c757d;
    font-size: 1.8rem;
}
.courses-box__teacher-link{
    color: #6c757d;
    transition: color 400ms ease;
    font-size: 1.2rem;
}
.courses-box__teacher-link:hover{
    color: #1e83f0;
}
.courses-box__rating{
    display: flex;
    align-items: center;
    direction: ltr;
}
.courses-box__status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.courses-box__users{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.courses-box__users-icon{
    color: #6c757d;
    font-size: 1.8rem;
}
.courses-box__users-count{
    color: #6c757d;
    font-size: 1.4rem;
}
.courses-box__price{
    color: #9c9c9c;
    font-size: 1.8rem;
    font-family: var(--medium-font);
}
.courses-box__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 0;
    border-top: 1px solid #e8e8e8;
}
.courses-box__footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: var(--primary-color);
    transition: color 400ms ease;
    font-size: 1.5rem;
    font-family: var(--bold-font);
}
.courses-box__users-icon{

}
.courses-box__footer-link:hover{
    color: #1e83f0;
}