.mobile-menu{
    display: none;
}
.mobile-menu__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #f0f2f7;
    outline: none;
    cursor: pointer;
}
.mobile-menu__btn:focus{
    outline: none;
}
.mobile-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: 25.6rem;
    min-height: 100vh;
    background: var(--white-color);
    z-index: 1000;
    transform: translateX(25.6rem);
    transition: transform 250ms ease;
}
.mobile-bar.mobile-bar--show{
    transform: translateX(0);
}
.mobile-menu__btn.mobile-menu__btn--open{

}
.mobile-bar__top{
    margin-bottom: 2rem;
    padding: 14px 1.6rem;
    background-color: #f3f4f6;
    display: none;
    align-items: center;
    justify-content: space-between;
}
.mobile-bar__top-login{
    margin-bottom: 2rem;
    padding: 14px 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-bar__top-login-link{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-family: var(--medium-font);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mobile-bar__top-login-link i{
    font-size: 1.5rem;
}
.mobile-bar__info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile-bar__info-link{
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    overflow: hidden;
    border-radius: 50%;
}
.mobile-bar__info-link-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile-bar__info-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-bar__info-username{
    font-size: 1.5rem;
    color: var(--dark-color);
    font-family: Var(--medium-font);
}
.mobile-bar__info-date{
    font-size: 1.2rem;
    color: #7f8187;
}
.mobile-bar__info-link-icon{
    display: block;
}
.mobile-bar__info-icon{
    color: var(--dark-color);
    display: block;
    font-size: 1.4rem;
}
.mobile-bar-content{
    padding: 0 1.5rem;
}
/*Start Short Cut Styles*/
.mobile-bar__shortCuts{
    display: none;
}
.mobile-bar__shortCuts, .mobile-category{
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e5e7eb;
}
.mobile-bar__shortCuts-title, .mobile-category-title{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-family: var(--medium-font);
    margin-bottom: 1rem;
}
.mobile-bar__shortCuts-list{

}
.mobile-bar__shortCuts-item{
    margin-bottom: 4px;
}
.mobile-bar__shortCuts-item:last-child{
    margin-bottom: 0;
}
.mobile-bar__shortCuts-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
}
.mobile-bar__shortCuts-link-title{
    font-size: 1.4rem;
}
.mobile-bar__shortCuts-link-icon{
    font-size: 1.4rem;
    color: var(--dark-color);
}
/*Finish Short Cut Styles*/

/*Start Mobile Category Styles*/
.mobile-category__menu{
    width: 100%;
}
.mobile-category__menu-item{
    width: 100%;
    padding: 4px 0;
}
.mobile-category__menu-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-category__menu-link{
    font-size: 1.4rem;
}
.mobile-category__menu-icon{
    font-size: 1.4rem;
    color: var(--dark-color);
    display: block;
    pointer-events: visible;
    cursor: pointer;
}
.mobile-category__sub-menu{
    width: 100%;
    padding: 1rem 1.2rem;
    margin-top: 1rem;
    background-color: rgb(245 245 245);
    display: none;
}
.mobile-category__sub-menu-item{
    width: 100%;
    border-radius: 0.5rem;

}
.mobile-category__sub-menu-link{
    font-size: 1.2rem;
    transition: color 400ms ease;
}
.mobile-category__sub-menu-link:hover{
    color: var(--primary-color);
}






.mobile-category__menu-item--open .mobile-category__menu-link{
    color: var(--primary-color);
}
.mobile-category__menu-item--open .mobile-category__menu-icon{
    color: var(--primary-color);
    transform: rotate(-90deg);
}
.mobile-category__menu-item--open .mobile-category__sub-menu{
    display: block;
}
/*Finish Mobile Category Styles*/
.logout-btn {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px 16px;
    border-radius: 12px;

    text-decoration: none;
    font-size: 14px;
    font-weight: 700;

    background-color: #fce7f3;  /* صورتی-رز خیلی ملایم */
    color: rgba(193,24,94,0.73);             /* همون طیف ولی پررنگ‌تر */

    border: none;
}

.logout-icon {
    flex-shrink: 0;
}

#mobile-logout-btn{
    display: none;
}