.similar-courses{
    width: 100%;
}
.similar-courses__title{
    font-size: 1.8rem;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
    font-family: var(--medium-font);
}
.similar-courses__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
}
.similar-courses__box{

}
.similar-courses__box-link{
    display: block;
}
.similar-courses__box-image{
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.similar-courses__box-title{
    display: none;
    font-size: 1.3rem;
    color: #8d8d8d;
    font-family: var(--bold-font);
}