@import "fonts/fonts.css";
@import "./variables.css";
@import "component/top-bar.css";
@import "component/modile-menu.css";
@import "component/overlay.css";
@import "component/default.css";
@import "component/footer.css";
@import "component/courses-box.css";
@import "component/main-header.css";
@import "component/loading-overlay.css";
@import "component/error-overlay.css";
@import "component/tooltip.css";
@import "helper-class.css";

.header{

}
/*Start Landing Styles*/
.landing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/background_landing.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 9rem 0;
    color: white;
}
.landing__parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
.landing__title{
    text-align: center;
    font-family: Var(--bold-font);
    font-size: 1.8rem;
}
.landing__sub-title{
    text-align: center;
    margin-top: 1rem;
}
.landing__searchbar{
    background-color: var(--white-color);
    height: 5.6rem;
    position: relative;
    width: 100%;
    max-width: 70rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem 0;
}
.landing__searchbar-input{
    background-color: inherit;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 4rem;
    color: var(--dark-color);
}
.landing__searchbar-input::placeholder{
    font-size: 1.4rem;
    font-family: Var(--primary-font);
    color: gray;
}
.landing__searchbar-btn{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    position: absolute;
    top: 0.6rem;
    height: 4.4rem;
    left: 0.6rem;
    width: 4.4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__searchbar-icon{
    color: var(--white-color);
    font-size: 1.8rem;
}
.landing-status{
    display: grid;
    width: 100%;
    max-width: 80rem;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    margin-top: 1rem;
}
.landing-status__item{
    display: flex;
    justify-content: center;
}
.landing-status__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-status svg path{
    fill: white;
}
.landing-status__count{
    font-family: Var(--bold-font);
    font-size: 2rem;
    margin-top: 0.5rem;
}
.landing-status__text{
    font-family: var(--bold-font);
    text-align: center;
}
/*Finish Landing Styles*/

/*Start Courses Styles*/
.courses{
    margin: 6rem 0;
    padding: 0 1.5rem;
}
.courses__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.courses__header-right{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.courses__header-left{

}
.courses__header-link , .article__header-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    letter-spacing: -0.8px;
}
.courses__header-icon{

}

/*Finish Courses Styles*/
/*Start About-us*/
.abut-us{
    margin: 6rem 0;
}
.abut-us__header{
    display: flex;flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
}
.abut-us__header-title{}
.abut-us__header-text{}
.abut-us__content{

}
.abut-us-box{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;align-items: center;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
}
.abut-us-box__right{

}
.about-us__icon{
    color: #666;
    font-size: 6.5rem;
}
.abut-us-box__left{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-right: 1rem;
}
.abut-us-box__title{
    font-size: 1.8rem;
    font-family: var(--bold-font);
}
.abut-us-box__text{

}
/*Finish About-us Styles*/

/*Start Popular, Presell Courses Styles*/
.popular, .presell{
    margin: 6rem 0;
}
.popular__header, .presell__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.popular__header-title{

}
/*Finish Popular, Presell Courses Styles*/

/*Start Article styles*/
.article{
    margin: 4rem 0;
}
.article__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.article__header-right{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.article-card{
    transition: transform 400ms ease;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
    width: 80%;
    margin: 0 auto;
}
.article-card:hover{
    transform: translateY(-0.6rem);
}
.article-card__header{

}
.article-card__header-link{
    display: block;
    width: 100%;
    height: 25rem;

}
.article-card__header-image{
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.article-card__content{
    padding: 1rem 2rem 3rem 2rem;
}
.article-card__content-link{
    display: block;
    font-family: var(--bold-font);
    transition: color 400ms ease;
    white-space: nowrap;        /* فقط یک خط */
    overflow: hidden;           /* مخفی کردن اضافه */
    text-overflow: ellipsis;    /* سه نقطه */
}
.article-card__content-link:hover{
    color: #1e83f0;
}
.article-card__content-text{
    color: #898989;
    font-size: 1.2rem;
    padding: 1rem 0 2.5rem 0;
    min-height: 74px;
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* تعداد خط */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.article-card__content-btn{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 400ms ease;
}
.article-card__content-btn:hover{
    color: var(--white-color);
    background: var(--primary-color);
}
/*Finish Article styles*/








