@import "fonts/fonts.css";
@import "./variables.css";
@import "component/top-bar.css";
@import "component/modile-menu.css";
@import "component/overlay.css";
@import "component/default.css";
/*@import "./footer.css";*/
/*@import "./courses-box.css";*/
@import "component/main-header.css";
@import "component/loading-overlay.css";
@import "helper-class.css";
@import "component/error-overlay.css";
@import "component/sweet-alert.css";
@import "component/tooltip.css";
/*@import "./breadcrumd.css";*/
/*@import "./similar-courses.css";*/
.login{
    position: relative;
    overflow: hidden;
}
.login::before{
    content: "";
    position: absolute;
    top: -5rem;
    width: 150%;
    height: 380px;
    background-color: #2bce56;
    z-index: -1;
    transform: rotate(-4deg);
    left: -20rem;
}
.login::after{
    content: "";
    position: absolute;
    top: 0;
    width: 150%;
    height: 380px;
    background-color: rgba(43, 206, 86, 0.6);
    z-index: -99;
    transform: rotate(-4deg);
    left: -20rem;
}
.login-wrapper{
    background-color: var(--white-color);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 4rem auto;
    padding: 2.5rem 2rem 5rem 2rem;
    box-shadow: 0 6px 20px rgba(168, 172, 185, 0.3);
    border-radius: 5px;
    width: 100%;
    max-width: 50rem;
    border-bottom: 5px solid #2bce56;
}
.login__title{
    color: #7b868a;
    font-size: 2.2rem;
    text-align: center;
}
.login__sub-title{
    font-size: 1.5rem;
    color: #7b868a;
    text-align: center;
}
.login__new-member{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f7;
    margin: 1.5rem 0;
    border-radius: 5px;
    padding: 1.5rem 0;
    gap: 0.7rem;
}
.login__new-member-text{
    font-size: 1.4rem;
    color: #7b868a;
}
.login__new-member-link{
    background-color: #a8aaaf;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--white-color);
    transition: color 400ms ease;
}
.login__new-member-link:hover{
    color: #1e83f0;
}
.login-form{

}
.login-form__row{
    position: relative;
    margin: 0.8rem 0;
}
.login-form__row-input{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 1rem 1.1rem;
    border-radius: 3px;
    font-size: 1.4rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}
.login-form__row-icon{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font-size: 2.2rem;
    color: #ccc;
}
.login-form input::placeholder{
    font-size: 1.3rem;
    color: #7b868a;
}
.login-form__btn{
    color: var(--white-color);
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 1.2rem 0;
    margin-top: 1.8rem;
    background-color: #2bce56;
}
.login-form__btn-icon{
    position: absolute;
    right: 1rem;
    font-size: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
}
.login-form__password-setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.login-form__remember{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
#login-form__remember-input{
    position: absolute;
    right: -15px;
    visibility: hidden;
    pointer-events: none;
}
.login-form__remember-label{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #7b868a;
    cursor: pointer;
    position: relative;
    border-radius: 0.3rem;
}
.login-form__remember-check{
    position: absolute;
    top: 10%;
    left: 55%;
    transform: translate(-50%);
    font-size: 1.1rem;
    color: var(--white-color);
    pointer-events: none;
}
.login-form__remember-text{
    font-size: 1.4rem;
    color: #6c757d;
}
.login-form__forget-link{
    transition: color 400ms ease;
    font-size: 1.4rem;
    color: #6c757d;
}
.login-form__forget-link:hover{
    color: #1e83f0;
}
#login-form__remember-input:checked ~ .login-form__remember-label{
    background-color: #1e83f0;
    border: 1px solid #1e83f0;
}
.login__dec{
    margin-top: 3rem;
    color: #7b868a;
    font-size: 1.2rem;
    width: 100%;
}
.login__dec-title{

}
.login__dec-list{
    list-style-type: disc;
    margin-right: 2rem;
    margin-top: 1rem;
}
.login__dec-item{

}
