.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0006;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 250ms ease;
}
.overlay.overlay--show{
    opacity: 1;
    height: 100%;
    overflow: visible;
    pointer-events: visible;
}