
:root {
    --primary-font: "IRANSans";
    --black-font: "IRANSans_Black";
    --bold-font: "IRANSans_Bold";
    --light-font: "IRANSans_Light";
    --medium-font: "IRANSans_Medium";
    --ultraLight-font: "IRANSans_UltraLight";
    --primary-color: #2bce56;
    --white-color: #fff;
    --dark-color: #464749;
}